<div class="fuelux">
<div class="wizard" data-initialize="wizard" id="myWizard">
  <ul class="steps" ng-repeat="menu in configuracao.menus">
    <li data-step="{{menu.ordem}}" class="active"><span class="badge">{{menu.ordem}}</span>{{menu.titulo}}<span class="chevron"></span></li>
  </ul>
  <div class="actions">
    <button type="button" class="btn btn-default btn-prev"><span class="glyphicon glyphicon-arrow-left"></span>Anterior</button>
    <button type="button" class="btn btn-default btn-next" data-last="Finalizar">Próximo<span class="glyphicon glyphicon-arrow-right"></span></button>
  </div>
  <div class="step-content" ng-transclude>
  </div>
</div>
</div>

