<div>
    <table class="table table-bordered" ng-if="table" style="width: 100%;">
        <thead>
            <tr>
                <th ng-repeat="head in data.heads">{{head.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.rows">
                <td ng-repeat="field in row.values">{{field.value}}</td>
            </tr>
        </tbody>
    </table>
    <img ng-if="image" src="{{data.path}}" style="width: 100%;" />
    <p ng-if="text" style="width: 100%;">{{data}}</p>
    <h3 ng-if="title" style="width: 100%;" >{{data}}</h3>
</div>
