<div style="padding:5px">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" ng-if="table" style="width: 100%;">
            <thead>
                <tr  class="active" ng-repeat="columns in data[0]">
                    <th ng-repeat="column in columns">{{column.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data">
                    <td ng-repeat="column in row.columns">{{column.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <img ng-if="image" src="{{data[0].path}}" style="width: 100%;" />
    <div ng-if="list">
        <div ng-repeat="row in data">
            <div ng-repeat="column in row.columns">
                <span>{{column.name}}</span>:<span>{{column.value}}</span>
            </div>
        </div>
    </div>
    <p ng-if="text" style="width: 100%;">{{data}}</p>
    <h3 ng-if="title" style="width: 100%;">{{data}}</h3>
</div>
