<div class="container">
    <wizard configuracao="configuracao" steps="4" valid="isValid(cadastroForm.$valid)">
        <step ordem="1">
            <form name="cadastroForm">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': cadastroForm.nome.$invalid && !cadastroForm.nome.$pristine }">
                        <label for="nome">Visão:</label>
                        <input id="nome" type="text" class="form-control" name="nome" ng-model="visao.nome" placeholder="Digite o nome da visão" required />
                        <p ng-show="cadastroForm.nome.$invalid && !cadastroForm.nome.$pristine" class="help-block">O nome é obrigatório.</p>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <textarea id="descricao" type="text" name="descricao" class="form-control" rows="3" ng-model="visao.descricao" required="true" placeholder="Digite a descrição da visão " />
                    </div>
                </div>
            </form>
        </step>
        <step ordem="2">
            <div class="row">
                <div class="col-md-9 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">Cabeçalho</div>
                        <div class="panel-body">
                            <div class="row layout-line">
                                <div class="col-md-4 layout-box" ng-repeat="item in option.cabecalho">
                                    <div class="row text-left">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="cabecalho" ng-value="item" ng-model="option.selection.cabecalho">{{item.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <layout configuracao="configuracao">
                                        <div block="header" columns="item.configuracao.header.column" lines="item.configuracao.header.line" group="false">
                                            <div block="title" columns="item.configuracao.title.column" lines="item.configuracao.title.line" ng-if="item.configuracao.title">
                                                <div class="layout layout-container-column">
                                                    <span>Título</span>
                                                </div>
                                            </div>
                                            <div block="foto" columns="item.configuracao.foto.column" lines="item.configuracao.foto.line" ng-if="item.configuracao.foto">
                                                <div class="layout layout-container container-column">
                                                    <div class="layout-number">5</div>
                                                </div>
                                            </div>
                                            <div block="header-content" columns="item.configuracao.headerContent.column" lines="item.configuracao.headerContent.line" offset-line="item.configuracao.title.offsetLine">
                                                <div class="layout layout-container container-column">
                                                    <div class="layout-number">5</div>
                                                </div>
                                            </div>
                                        </div>
                                    </layout>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Detalhe</div>
                        <div class="panel-body">
                            <div class="row layout-line">
                                <div class="col-md-4 layout-box" ng-repeat="item in option.detalhe">
                                    <div class="row text-left">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="detalhe" ng-value="item" ng-model="option.selection.detalhe">{{item.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <layout configuracao="item.configuracao" preview="true">
                                    </layout>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Rodapé</div>
                        <div class="panel-body">
                            <div class="row layout-line">
                                <div class="col-md-4 layout-box" ng-repeat="item in option.rodape">
                                    <div class="row text-left">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="rodape" ng-value="item" ng-model="option.selection.rodape">{{item.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <layout configuracao="item.configuracao" preview="true">
                                    </layout>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center" id="layout">
                    <div class="panel panel-default">
                        <div class="panel-heading">Layout</div>
                        <div class="panel-body layout-box">
                            <div class="row">
                                <layout configuracao="configuracao" preview="true">
                                </layout>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </step>
        <step ordem="3">
            Teasdasdsa
        </step>
        <step ordem="4">
            Teasdasdsa
        </step>
    </wizard>
</div>
