<div class="container-fluid">
    <div class="container fixed-margin">
        <form name="cadastroForm">
            <wizard configuracao="menus" steps="4" valid="isValid(cadastroForm.$valid)">
                <step ordem="1" title="'Configuração da visão'">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': cadastroForm.nome.$invalid && !cadastroForm.nome.$pristine }">
                            <label for="nome">Visão:</label>
                            <input id="nome" type="text" class="form-control" name="nome" ng-model="visio.name" placeholder="Digite o nome da visão" required />
                            <p ng-show="cadastroForm.nome.$invalid && !cadastroForm.nome.$pristine" class="help-block">O nome é obrigatório.</p>
                        </div>
                        <div class="form-group">
                            <label for="descricao">Descrição:</label>
                            <textarea id="descricao" type="text" name="descricao" class="form-control" rows="3" ng-model="visio.description" placeholder="Digite a descrição da visão " />
                        </div>
                    </div>
                </step>
                <step ordem="2" title="'Definir template'">
                    <div class="row">
                        <div class="col-md-9 text-center">
                            <div class="panel panel-default">
                                <div class="panel-heading">Templates</div>
                                <div class="panel-body">
                                    <div class="row layout-line">
                                        <div class="col-md-4 layout-box" ng-repeat="item in templates">
                                            <div class="row text-left">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" class="clip-unset" name="layout" ng-value="item" ng-model="selection.template" ng-click="selectTemplate()">{{item.name}}
                                                    </label>
                                                </div>
                                            </div>
                                            <layout configuracao="item.configuration" preview="true">
                                                <div block="container.type" columns="container.column" lines="container.line" group="false" line-height="item.configuration.preview.lineHeight" preview-block="true" ng-repeat="container in item.containers">
                                                    <div block="component.name" columns="component.column" lines="component.line" line-height="item.configuration.preview.lineHeight" preview-block="true" ng-repeat="component in container.components">
                                                        <div class="layout layout-container layout-border">
                                                            <div class="layout layout-container container-column">
                                                                <div ng-if="component.type === 'table'" class="layout-number icon-list" title="Tipo tabela"></div>
                                                                <div ng-if="component.type === 'image'" class="layout-number   icon-picture" title="Tipo imagem"></div>
                                                                <div ng-if="component.type === 'list'" class="layout-number   icon-docs" title="Tipo lista"></div>
                                                                <div ng-if="component.type === 'text'" class="layout-number   icon-speech" title="Tipo texto"></div>
                                                                <div ng-if="component.type === 'title'" class="layout-number   icon-speech" title="Tipo'título"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </layout>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 text-center" id="layout">
                            <div class="panel panel-default" style="height: 250px;">
                                <div class="panel-heading">Selecionado</div>
                                <div class="panel-body layout-box">
                                    <div class="row">
                                        <layout configuracao="selection.template.configuration" preview="true">
                                            <div block="container.type" columns="container.column" lines="container.line" group="false" line-height="selection.template.configuration.preview.lineHeight" preview-block="true" ng-repeat="container in selection.template.containers">
                                                <div block="component.name" columns="component.column" lines="component.line" line-height="selection.template.configuration.preview.lineHeight" preview-block="true" ng-repeat="component in container.components">
                                                    <div class="layout layout-container layout-border">
                                                        <div class="layout layout-container container-column">
                                                            <div ng-if="component.type === 'table'" class="layout-number icon-list"></div>
                                                            <div ng-if="component.type === 'image'" class="layout-number   icon-picture"></div>
                                                            <div ng-if="component.type === 'list'" class="layout-number   icon-docs"></div>
                                                            <div ng-if="component.type === 'text'" class="layout-number   icon-speech"></div>
                                                            <div ng-if="component.type === 'title'" class="layout-number   icon-speech"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </layout>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" style="height: 246px;">
                                <div class="panel-heading">Legenda</div>
                                <div class="panel-body layout-box">
                                    <div class="row legenda-container">
                                        <div><i class="icon-list legenda"></i> Tabela de dados</div>
                                        <div><i class="icon-picture legenda"></i> Foto</div>
                                        <div><i class=" icon-docs legenda"></i> Lista</div>
                                        <div><i class="icon-speech legenda"></i> Texto ou título</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </step>
                <step ordem="3" title="'Editar componentes'" min-height="550">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6 container-fluid pull-left" style="max-height:550px">
                                    <layout configuracao="visio.layout.configuration" preview="true">
                                        <div block="container.type" columns="container.column" lines="container.line" group="false" line-height="5" preview-block="false" ng-repeat="container in visio.layout.containers">
                                            <div block="component.name" columns="component.column" lines="component.line" line-height="5" preview-block="true" ng-repeat="component in container.components">
                                                <div class="layout layout-container layout-border" ng-click="editComponent(component)">
                                                    <div class="layout layout-container container-column">
                                                        <span>{{component.label}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </layout>
                                </div>
                                <div class="col-md-6 container-fluid pull-right">
                                    <div class="panel panel-info" ng-if="component.type">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><i class="icon-wrench"></i>   {{component.label}}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label for="nome">Nome do componente:</label>
                                                <input id="nome" class="form-control" type="text" placeholder="Digite o nome do componente" ng-model="component.label" />
                                            </div>
                                            <div class="form-group" ng-if="component.type === 'text'">
                                                <label for="text">Texto:</label>
                                                <textarea id="text" class="form-control" type="text" rows="3" placeholder="Digite o conteúdo do componente" ng-model="component.data" />
                                            </div>
                                            <div class="form-group" ng-if="component.type === 'title'">
                                                <label for="title">Título:</label>
                                                <input id="title" class="form-control" type="text" placeholder="Digite o título para o relatório" ng-model="component.data" />
                                            </div>
                                            <div class="form-group" ng-if="component.type === 'image'">
                                                <label for="caminho">Link da foto:</label>
                                                <input id="caminho" class="form-control" type="text" ng-model="component.data.path" placeholder="Digite o link da foto" />
                                            </div>
                                            <div class="form-group" ng-if="component.type === 'table' || component.type === 'list'">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Campos escolhidos</div>
                                                    <div class="panel-body" ng-if="component.data.fields.length">
                                                        <ul class="list-group">
                                                            <li ng-repeat="field in component.data.fields" class="list-group-item"><span class="label label-sm label-success">{{field.name}}</span><i class="icon-info pull-right" data-toggle="tooltip" data-placement="right" title="{{field.description}}"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Escolher campos <i class="icon-cursor" style="margin-left:5px"></i></button>
                                                        <button class="btn btn-default" data-target=".bs-example-modal-sm" data-toggle="modal" ng-if="component.data.fields.length">Gerenciar totalizadores<i class="icon-plus" style="margin-left:5px"></i></button>
                                                    </div>
                                                </div>
                                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3>Escolher campos para componente</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="col-md-12 form-group" style="margin-left:20px;">
                                                                    <label>Buscar de campos</label>
                                                                    <input type="text" class="form-control" placeholder="Digite o nome do campo desejado" ng-model="busca.name" />
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" style="margin-top:30px; max-height:330px; overflow-y: scroll; ">
                                                                        <ul class="nav bs-docs-sidenav">
                                                                            <label>Selecionar campos</label>
                                                                            <li class="" ng-repeat="label in campos | filter:busca | orderBy:label.order">
                                                                                <a ng-click="addCampo(label)" ng-class="{'docs-active': label.selected}">{{label.name}}</a>
                                                                            </li>
                                                                        </ul>
                                                                    </nav>
                                                                </div>
                                                                <div class="col-md-8" style="padding:45px; margin-left:50px;">
                                                                    <div id="fields">
                                                                        <table class="table table-bordered table-hover">
                                                                            <thead>
                                                                                <tr class="active">
                                                                                    <th>Nome</th>
                                                                                    <th>Chave</th>
                                                                                    <th>Valor</th>
                                                                                    <th>Grupo</th>
                                                                                    <th class="col-md-2">Ações</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="selecionado in selectedsFiltered | orderBy:selecionado.order | limitTo:totalPorPagina">
                                                                                    {{selecionado}}
                                                                                    <td>{{selecionado.name}}</td>
                                                                                    <td>{{selecionado.key[0].label}}</td>
                                                                                    <td>{{selecionado.value[0].label}}</td>
                                                                                    <td ng-if="!selecionado.formula">Não possui</td>
                                                                                    <td ng-if="selecionado.formula">{{selecionado.value[0].label}}</td>
                                                                                    <td class="col-md-2">
                                                                                        <button class="btn btn-default btn-flat" ng-click="removeCampo(selecionado)"><i class="icon-close"></i></button>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <pagination ng-if="component.data.fields.length" total-items="totalItens" ng-model="paginaAtual" style="margin-left:51px" items-per-page="totalPorPagina" ng-change="mudaPagina(paginaAtual)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                                                    </div>
                                                                    <div ng-if="!component.data.fields.length" class="pontilhado">Nenhum campo selecionado.</div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer" style="margin-top:50% !important">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                                <button type="button" ng-click="saveFields()" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallMoalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3>Gerenciar totalizadores</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <ul class="nav nav-tabs nav-justified">
                                                                    <li ng-class="{'active':tab===1}"><a ng-click="setTab(1)">Lista de totalizadores</a></li>
                                                                    <li ng-class="{'active':tab===2}"><a ng-click="setTab(2)">Criar/Editar totalizador</a></li>
                                                                </ul>
                                                                <div class="col-lg-10 " ng-if="tab===1" style="margin-top:50px">
                                                                    <table class="table table-bordered table-hover" ng-if="totalizadores.length">
                                                                        <thead>
                                                                            <tr class="active">
                                                                                <th>
                                                                                    Totalizador
                                                                                </th>
                                                                                <th class="hidden-480">
                                                                                    Campos
                                                                                </th>
                                                                                <th class="hidden-480">
                                                                                    Ações
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="field in totalizadores">
                                                                                <td class="hidden-480">
                                                                                    {{field.name}}
                                                                                </td>
                                                                                <td class="hidden-480">
                                                                                    <span class="label label-sm label-success" style="margin:5px" ng-repeat="field in field.groups">{{field.name}}</span>
                                                                                </td>
                                                                                <td class="hidden-480">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <span ng-if="!totalizadores.length">Não há totalizadores para o componente</span>
                                                                </div>
                                                                <div class="col-lg-12 pull-left" ng-if="tab===2" style="margin-top:50px">
                                                                    <div class="form-group col-lg-6">
                                                                        <div class="form-group">
                                                                            <label>Nome do campo:</label>
                                                                            <input type="text" class="form-control" placeholder="Nome do campo" ng-model="agrupador.name" />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Descrição:</label>
                                                                            <textarea cols="4" class="form-control" placeholder="Nome do campo" ng-model="agrupador.description" />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Fórmula:</label>
                                                                            <select ng-model="agrupador.formula" class="form-control">
                                                                                <option value="sum">Soma</option>
                                                                                <option value="rest">Saldo</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Quais campos selecionados deseja totalizar?
                                                                            </label>
                                                                            <div class="form-inline">
                                                                                <select ng-model="groupSelected" class="form-control" ng-options="selected.name for selected in selectedsFiltered">
                                                                                    <option></option>
                                                                                </select>
                                                                                <button class="btn btn-default" ng-click="addFieldGroup(groupSelected)"><i class="icon-plus"></i></button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <button type="button" class="btn btn-primary" ng-click="createGrouper()">Salvar</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-lg-5 pull-right">
                                                                        <div class="well">
                                                                            <label>Campos selecionados</label>
                                                                            <ul class="list-group" ng-if="groups.length">
                                                                                <li ng-repeat="field in groups" class="list-group-item"><span class="label label-sm label-success">{{field.name}}</span><i class="icon-close pull-right" ng-click="removeFieldGroup(field)"></i></li>
                                                                            </ul>
                                                                            <span ng-if="!groups.length">Nenhum campo selecionado</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer" style="margin-top:65% !important">
                                                                <button type="button" class="btn btn-primary" ng-click="pushTotalizadores()" data-dismiss="modal" ng-if="totalizadores.length">Salvar</button>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span ng-if="!component.type">Selecione um componente para editar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </step>
                <step ordem="4" title="'Finalizar'">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-8">
                                <h4>Campos selecionados:</h4>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr class="active">
                                            <th>
                                                Container
                                            </th>
                                            <th class="hidden-480">
                                                Componentes
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="container in visio.layout.containers">
                                            <td>
                                                {{container.name}}
                                            </td>
                                            <td class="hidden-480">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr class="active">
                                                            <th>
                                                                Label
                                                            </th>
                                                            <th class="hidden-480">
                                                                Campos
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="component in container.components">
                                                            <td class="hidden-480">{{component.label}}</td>
                                                            <td class="hidden-480" ng-if="component.data.fields">
                                                                <span class="label label-sm label-success" style="margin:5px" ng-repeat="field in component.data.fields">{{field.name}}</span>
                                                            </td>
                                                            <td class="hidden-480" ng-if="!component.data.fields">
                                                                <span>Não possui</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-3">
                                <div style="margin-left: -30px">
                                    <h4 style="margin-left:30px">Layout selecionado:</h4>
                                    <layout configuracao="visio.layout.configuration" preview="true">
                                        <div block="container.type" columns="container.column" lines="container.line" group="false" line-height="3" preview-block="false" ng-repeat="container in visio.layout.containers">
                                            <div block="component.name" columns="component.column" lines="component.line" line-height="3" preview-block="true" ng-repeat="component in container.components">
                                                <div class="layout layout-container layout-border" ng-click="editComponent(component)">
                                                    <div class="layout layout-container container-column">
                                                        <span>{{component.label}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </layout>
                                </div>
                                <div style="margin-top:70px">
                                    <ul class="list-unstyled">
                                        <li>
                                            <strong>Nome:</strong> {{visio.name}}
                                        </li>
                                        <li>
                                            <strong>Descrição:</strong> {{visio.description}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-default" ng-click="makePreview()">Preview</button>
                                <button class="btn btn-default" ng-click="saveVisio()">Salvar</button>
                            </div>
                        </div>
                    </div>
                </step>
            </wizard>
        </form>
    </div>
</div>
