<div class="fixed-margin">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Minhas visões</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Código</th>
                            <th>Data de criação</th>
                            <th>Módulo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="visio in visios">
                            <td>{{visio.name}}</td>
                            <td>{{visio.description}}</td>
                            <td>{{visio.hashid}}</td>
                            <td>{{visio.createDate}}</td>
                            <td>Financeiro</td>
                            <td><span ng-click="updateVisio(visio)"><i class="glyphicon glyphicon-edit"></i></span><span ng-click="removeVisio(visio)"><i class="glyphicon glyphicon-remove"></i></span>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="!visios.length" class="pontilhado">Para criar uma nova visão, clique no botão "Nova visão".</div>
                <button class="btn btn-default pull-right" ng-click="newVisio()">Nova visão</button>
            </div>
        </div>
    </div>
</div>

{{visios}}
