<div class="container fixed-margin">
	<div class="row visible-lg-block main-report">
		<div class="col-lg-2">
			<div class="row">
				<div class="col-md-12 text-center" ng-repeat="page in report.pages">
					<i class="fa fa-file-text-o fa-lg img-file-page" ng-click="getPage($index)">
						<p class="img-file-font"><strong>Página {{ $index + 1 }}</strong></p>
					</i>
				</div>
			</div>
		</div>
		<div class="col-lg-10 report">

			<div class="page-portrait container-fluid shadow">
				
				<layout configuracao="visio.layout.configuration" preview="false">
				
					<div id="header-title" class="col-lg-12" ng-show="report.title">
						<div class="page-header">
							<h3>{{ report.title }}</h3>
						</div>
					</div>

                    <div block="container.type" 
                    	 columns="container.column" 
                    	 lines="container.line" 
                    	 group="false" 
                    	 line-height="visio.layout.configuration.full.lineHeight" 
                    	 preview-block="true" 
                    	 ng-repeat="container in visio.layout.containers">

                        <div block="component.name" 
                             columns="component.column" 
                             lines="component.line" 
                             line-height="visio.layout.configuration.full.lineHeight" 
                             preview-block="true" 
                             ng-repeat="component in container.components">

                             <span ng-init="widget = getWidget(component.code)" />

                             <span ng-bind-html="widget"></span>

                        </div>

                    </div>

                </layout>

			</div>

		</div>
	</div>
</div>

    
